extends layout

block content
  script(src="/javascripts/jquery-3.2.1.min.js")
  script(src="/javascripts/ajax.js")
  div(class="w3-container")
    header(class="w3-container w3-center w3-teal")
      h1 Web VM
  div(class="w3-row")
    div(class="w3-col s2 w3-padding")
        div(class="w3-container  w3-border w3-light-grey")
            header(class="w3-container")
                h4 Código:
        div(class="w3-container w3-border" name="incode" id="incode")
        input(class="w3-input w3-border" placeholder="Input here..." name="codeline" id="codeline")  
    div(class="w3-col s2 w3-padding")
        div(class="w3-container w3-border w3-light-grey")
            header(class="w3-container")
                h4 Stack:
        div(class="w3-code w3-border" id="resultado")
        div(class="w3-button w3-teal" id="limpa") Limpar resultados
    div(class="w3-col s4 w3-padding")
        div(class="w3-container w3-border w3-light-grey")
            header(class="w3-container")
                h4 In/Out:
        div(class="w3-code w3-border" id="resultado")
        div(class="w3-button w3-teal" id="limpa") Limpar resultados
  div(class="w3-container")
    footer(class="w3-container w3-teal")
      address Gerado por WebVM :: jcr :: 2018-Junho
